<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/database">
                            {{'Database' | translate}}
                        </a></li>
                    <li class="me-2 ms-2">></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {{'Add Merchant' | translate}}
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-4">
            <div class="text-title ">
                {{'Add Merchant' | translate}}
            </div>
        </div>
        <div class="col-md-6 mt-2 d-flex justify-content-end">
            <select class="form-select w-50">
                <option value="">Thailand</option>
                <option value="">Thailand</option>
                <option value="">Thailand</option>
            </select>
        </div>
    </div>
    <div class="background p-3">
        <div class="row">
            <div class="col-md-12 d-flex align-items-center">
                <span class="material-symbols-outlined text-name me-2">
                    badge
                </span>Admin01
            </div>
            <div class="col-md-12 mb-0">
                role
            </div>
        </div>
    </div>
    <div class="background p-3">
        <div class="row">
            <div class="col-md-12 d-flex align-items-center">
                <div class="text-title ">
                    {{'Merchant Detail' | translate}}
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <span>{{'Merchant name' | translate}}</span>
                <input type="text" class="form-control mt-2" placeholder="{{'Fill merchant name' | translate}}">
            </div>
            <div class="col-md-6">
                <span>{{'Category' | translate}}*</span>
                <select class="form-select mt-2">
                    <option value="">Other</option>
                </select>
            </div>
            <div class="col-md-6 d-flex align-items-end">
                <input type="text" class="form-control" placeholder="{{'Fill new category name' | translate}}">
            </div>
        </div>
    </div>
    <div class="background p-3">
        <div class="row">
            <div class="col-md-12 mt-2">
                <div class="text-title">
                    {{'Location' | translate}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-2">
                <span>
                    {{'Location (Shopping mall, Building, Market, etc.)' | translate}}
                </span>
                <select class="form-select  mt-2">
                    <option value="">Other</option>
                </select>
            </div>
            <div class="col-md-6 d-flex align-items-end">
                <input type="text" class="form-control" placeholder="{{'Fill new location name' | translate}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <input type="checkbox" name="" id="">
                {{'This Merchant are on street (Not in any Shopping mall, Building, Market, etc.)'|translate}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-2">
                <span>{{'Shop phone number'|translate}}*</span>
                <input type="text" class="form-control mt-2" placeholder="{{'Shop phone number'|translate}}">
            </div>
            <div class="col-md-6 mt-2">
                <span>{{'Floor'|translate}}</span>
                <input type="text" class="form-control mt-2" placeholder="{{'Floor'|translate}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-2">
                <span>{{'Street'|translate}}</span>
                <input type="text" class="form-control mt-2" placeholder="{{'Street'|translate}}">
            </div>
            <div class="col-md-6 mt-2">
                <span>{{'District'|translate}}</span>
                <input type="text" class="form-control mt-2" placeholder="{{'District'|translate}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-2">
                <span>{{'Province'|translate}}</span>
                <input type="text" class="form-control mt-2" placeholder="{{'Province'|translate}}">
            </div>
            <div class="col-md-6 mt-2">
                <span>{{'Zipcode'|translate}}*</span>
                <input type="text" class="form-control mt-2" placeholder="{{'Zipcode'|translate}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <span>{{'Google Map link'|translate}}*</span>
                <div class="input-group mt-2">
                    <input style="border-right: none;" type="text" class="form-control"
                        placeholder="{{'Google Map link'|translate}}" aria-label="Username"
                        aria-describedby="Google-Map-link">
                    <span id="Google-Map-link" class="material-symbols-outlined input-group-text">
                        map
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="background p-3">
        <div class="row">
            <div class="col-md-12">
                <div class="text-title">
                    {{'Contact'|translate}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <span>
                    {{'Contact person'|translate}}*
                </span>
                <input type="text" class="form-control mt-2" placeholder="{{'Contact person name'|translate}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-2">
                <span>
                    {{'Phone number'|translate}}*
                </span>
                <input type="text" class="form-control mt-2" placeholder="{{'Phone number'|translate}}">
            </div>
            <div class="col-md-6 mt-2">
                <span>
                    {{'Email'|translate}}
                </span>
                <input type="text" class="form-control mt-2" placeholder="{{'Email'|translate}}">
            </div>
            <div class="col-md-6 mt-2">
                <span>
                    {{'FAX'|translate}}
                </span>
                <input type="text" class="form-control mt-2" placeholder="{{'FAX'|translate}}">
            </div>
        </div>
    </div>
    <div class="background  p-3">
        <div class="row">
            <div class="col-md-12">
                <div class="text-title">
                    {{'Type of Payment'|translate}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-4">
                <span>
                    {{'Card Acceptance' | translate}}
                </span>
                <ng-multiselect-dropdown [placeholder]="'Select card'" [settings]="dropdownSettings"
                    [data]="dropdownList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span>
                    {{'Minimum spending' | translate}}
                </span>
                <input type="text" class="form-control mt-2" placeholder="{{'Minimum spending' | translate}}">
                <div class="mt-2">
                    <input type="checkbox" name="" id=""> <span>
                        {{'No Minimum spending' | translate}}
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <span>
                    {{'Surchange' | translate}}
                </span>
                <input type="text" class="form-control mt-2" placeholder="{{'Surchange' | translate}}">
                <div class="mt-2">
                    <input type="checkbox" name="" id=""> <span>
                        {{'No Surchange' | translate}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-4">
                <span>
                    {{'QR Pay' | translate}}
                </span>
                <ng-multiselect-dropdown [placeholder]="'Select Platform'" [settings]="dropdownSettings"
                    [data]="dropdownList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <span>
                    {{'E-Wallet' | translate}}
                </span>
                <ng-multiselect-dropdown [placeholder]="'Select E-Wallet'" [settings]="dropdownSettings"
                    [data]="dropdownList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>
    </div>
    <div class="background p-3">
        <div class="row">
            <div class="col-md-12">
                <div class="text-title">
                    {{'EDC Terminal' | translate}}
                </div>
            </div>
        </div>
        <ng-container *ngFor="let i of data">
            <div class="row">
                <div class="col-md-6 mt-2">
                    <span>
                        {{'Bank name' | translate}}
                    </span>
                    <select class="form-select mt-2">
                        <option selected>
                            {{'Select Bank' | translate}}
                        </option>
                        <option value="">1</option>
                        <option value="">1</option>
                        <option value="">1</option>
                        <option value="">1</option>
                    </select>
                </div>
                <div class="col-md-6 mt-2">
                    <span>
                        {{'Terminal ID' | translate}}
                    </span>
                    <input type="text" class="form-control mt-2" placeholder="{{'Terminal ID' | translate}}">
                </div>
            </div>
        </ng-container>
        <div class="row">
            <div class="col-md-12 mt-4">
                <button class="btncancel w-100" (click)="Add_EDC()">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                    {{'Add EDC'| translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="background p-3">
        <div class="row">
            <div class="col-md-12">
                <div class="text-title">
                    {{'EDC/Sraff Status' | translate}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-4 d-flex justify-content-between align-items-center">
                <span>
                    {{'Normal EDC'|translate}}
                </span>
                <select class="form-select w-25">
                    <option value="">Not ready</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <select class="form-select mt-4">
                    <option value="">Select Bank</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>
                    {{'Issue remark'|translate}}
                </span>
                <textarea placeholder="{{'Issue remark...'|translate}}" style="height: 200px !important;" rows="10"
                    class="form-control mt-2"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>
                    {{'Issue Photo'|translate}}
                </span>
            </div>
        </div>
        <div class="row dropimage p-3">
            <div class="col-md-12 text-center">
                <span>
                    {{'Drag photo here or'|translate}}
                </span>
            </div>
            <div class="col-md-12 text-center d-flex justify-content-center">
                <button class="btnsave d-flex align-items-center">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                    <span>
                        {{'Browse photo'|translate}}
                    </span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-4 d-flex justify-content-between">
                <span>
                    {{'Contactless Acceptance'|translate}}
                </span>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-4 d-flex justify-content-between align-items-center">
                <span>
                    {{'Contactless EDC'|translate}}
                </span>
                <select class="form-select w-25 mt-2">
                    <option value="">Not ready</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <select class="form-select mt-2">
                    <option selected>
                        {{'Select Bank' | translate}}
                    </option>
                    <option value="">1</option>
                    <option value="">1</option>
                    <option value="">1</option>
                    <option value="">1</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>
                    {{'Issue remark'|translate}}
                </span>
                <textarea placeholder="{{'Issue remark...'|translate}}" style="height: 200px !important;" rows="10"
                    class="form-control mt-2"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>
                    {{'Issue Photo'|translate}}
                </span>
            </div>
        </div>
        <div class="row dropimage p-3">
            <div class="col-md-12 text-center">
                <span>
                    {{'Drag photo here or'|translate}}
                </span>
            </div>
            <div class="col-md-12 text-center d-flex justify-content-center">
                <button class="btnsave d-flex align-items-center">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                    <span>
                        {{'Browse photo'|translate}}
                    </span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-4 d-flex justify-content-between align-items-center">
                <span>
                    {{'EDC Placement (for Contactless only)'|translate}}
                </span>
                <select class="form-select w-25 mt-2">
                    <option value="">Not ready</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2 d-flex justify-content-between align-items-center">
                <span>
                    {{'Staff performance (for Contactless only)'|translate}}
                </span>
                <select class="form-select w-25 mt-2">
                    <option value="">Not ready</option>
                </select>
            </div>
        </div>
    </div>
    <div class="background p-3">
        <div class="row">
            <div class="col-md-12 mt-4">
                <div class="text-title">
                    {{'POSM Deployment'|translate}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-4">
                <span>
                    {{'Visa' | translate}}
                </span>
                <button class="addphoto mt-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    {{'Add Photo'}}
                    <span class="material-symbols-outlined">
                        chevron_right
                    </span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-4">
                <div class="text-title">
                    {{'Competitor info'|translate}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-4">
                <select class="form-select w-25">
                    <option value="">
                        Mastercard
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <button class="addphoto mt-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    {{'Add Photo'}}
                    <span class="material-symbols-outlined">
                        chevron_right
                    </span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btncancel w-100">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                    {{'Material Deploy'|translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btnsave">
                {{'Add Merchant'|translate}}
            </button>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content p-3">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-between">
                    <h1 class="modal-title" id="staticBackdropLabel">EDC</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="background p-3">
                <div class="row">
                    <div class="col-md-12">
                        <span>
                            {{'Signing Pad'|translate}}
                        </span>
                    </div>
                </div>
                <div class="row dropimage p-3">
                    <div class="col-md-12 text-center">
                        <span>
                            {{'Drag photo here or'|translate}}
                        </span>
                    </div>
                    <div class="col-md-12 text-center d-flex justify-content-center">
                        <button class="btnsave d-flex align-items-center">
                            <span class="material-symbols-outlined">
                                add
                            </span>
                            <span>
                                {{'Browse photo'|translate}}
                            </span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex align-items-center">
                        <span>
                            {{'Material Quantity'|translate}}
                        </span>
                        <div class="wrapper">
                            <button class="plusminus" (click)="handleMinus()">-</button>
                            {{value}}
                            <button class="plusminus" (click)="handlePlus()">+</button>
                          </div>
                    </div>
                </div>
            </div>
            <div class="background p-3 mt-1">
                <div class="row">
                    <div class="col-md-12">
                        <span>
                            {{'Signing Pad'|translate}}
                        </span>
                    </div>
                </div>
                <div class="row dropimage p-3">
                    <div class="col-md-12 text-center">
                        <span>
                            {{'Drag photo here or'|translate}}
                        </span>
                    </div>
                    <div class="col-md-12 text-center d-flex justify-content-center">
                        <button class="btnsave d-flex align-items-center">
                            <span class="material-symbols-outlined">
                                add
                            </span>
                            <span>
                                {{'Browse photo'|translate}}
                            </span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex align-items-center">
                        <span>
                            {{'Material Quantity'|translate}}
                        </span>
                        <div class="wrapper">
                            <button class="plusminus" (click)="handleMinus()">-</button>
                            {{value}}
                            <button class="plusminus" (click)="handlePlus()">+</button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>