<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/database">
                            {{'Database' | translate}}
                        </a></li>
                    <li class="me-2 ms-2">></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {{'Add Merchant' | translate}}
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-4">
            <div class="text-title ">
                {{'Add Merchant' | translate}}
            </div>
        </div>
        <div class="col-md-6 mt-2 d-flex justify-content-end">
            <select class="form-select w-50">
                <option value="">Thailand</option>
                <option value="">Thailand</option>
                <option value="">Thailand</option>
            </select>
        </div>
    </div>
    <div class="background p-3">
        <div class="row">
            <div class="col-md-12 d-flex align-items-center">
                <span class="material-symbols-outlined text-name me-2">
                    badge
                </span>Admin01
            </div>
            <div class="col-md-12 mb-0">
                role
            </div>
        </div>
    </div>
    <div class="background p-3">
        <div class="row">
            <div class="col-md-12 d-flex align-items-center">
                <div class="text-title ">
                    {{'Merchant Detail' | translate}}
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <span>{{'Merchant name' | translate}}</span>
                <input type="text" class="form-control mt-2" placeholder="{{'Fill merchant name' | translate}}">
            </div>
            <div class="col-md-6">
                <span>{{'Category' | translate}}*</span>
                <select class="form-select mt-2">
                    <option value="">Other</option>
                </select>
            </div>
            <div class="col-md-6 d-flex align-items-end">
                <input type="text" class="form-control" placeholder="{{'Fill new category name' | translate}}">
            </div>
        </div>
    </div>
    <div class="background p-3">
        <div class="row">
            <div class="col-md-12 mt-2">
                <div class="text-title">
                    {{'Location' | translate}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-2">
                <span>
                    {{'Location (Shopping mall, Building, Market, etc.)' | translate}}
                </span>
                <select class="form-select  mt-2">
                    <option value="">Other</option>
                </select>
            </div>
            <div class="col-md-6 d-flex align-items-end">
                <input type="text" class="form-control" placeholder="{{'Fill new location name' | translate}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <input type="checkbox" name="" id="">
                {{'This Merchant are on street (Not in any Shopping mall, Building, Market, etc.)'|translate}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-2">
                <span>{{'Shop phone number'|translate}}*</span>
                <input type="text" class="form-control mt-2" placeholder="{{'Shop phone number'|translate}}">
            </div>
            <div class="col-md-6 mt-2">
                <span>{{'Floor'|translate}}</span>
                <input type="text" class="form-control mt-2" placeholder="{{'Floor'|translate}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-2">
                <span>{{'Street'|translate}}</span>
                <input type="text" class="form-control mt-2" placeholder="{{'Street'|translate}}">
            </div>
            <div class="col-md-6 mt-2">
                <span>{{'District'|translate}}</span>
                <input type="text" class="form-control mt-2" placeholder="{{'District'|translate}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-2">
                <span>{{'Province'|translate}}</span>
                <input type="text" class="form-control mt-2" placeholder="{{'Province'|translate}}">
            </div>
            <div class="col-md-6 mt-2">
                <span>{{'Zipcode'|translate}}*</span>
                <input type="text" class="form-control mt-2" placeholder="{{'Zipcode'|translate}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <span>{{'Google Map link'|translate}}*</span>
                <div class="input-group mt-2">
                    <input style="border-right: none;" type="text" class="form-control" placeholder="{{'Google Map link'|translate}}" aria-label="Username" aria-describedby="Google-Map-link">
                    <span id="Google-Map-link" class="material-symbols-outlined input-group-text">
                            map
                        </span>
                  </div>
            </div>
        </div>
    </div>
    <div class="background p-3">
        <div class="row">
            <div class="col-md-12">
                <div class="text-title">
                    {{'Contact'|translate}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <span>
                    {{'Contact person'|translate}}*
                </span>
                <input type="text" class="form-control mt-2" placeholder="{{'Contact person name'|translate}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-2">
                <span>
                    {{'Phone number'|translate}}*
                </span>
                <input type="text" class="form-control mt-2" placeholder="{{'Phone number'|translate}}">
            </div>
            <div class="col-md-6 mt-2">
                <span>
                    {{'Email'|translate}}
                </span>
                <input type="text" class="form-control mt-2" placeholder="{{'Email'|translate}}">
            </div>
            <div class="col-md-6 mt-2">
                <span>
                    {{'FAX'|translate}}
                </span>
                <input type="text" class="form-control mt-2" placeholder="{{'FAX'|translate}}">
            </div>
        </div>
    </div>
</div>