<div class="container-fluid">
    <div class="row  align-items-center justify-content-between">
        <div class="col-md-6">
            <div class="text-title">
                {{'Database' | translate}}
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <select class="form-select w-50">
                <option value="">Thailand</option>
                <option value="">Thailand</option>
                <option value="">Thailand</option>
            </select>
        </div>
    </div>
    <div class="row  justify-content-end">
        <div class="col-md-auto mt-3">
            <button class="btncancel">
                <span class="material-symbols-outlined me-3">
                    download
                </span>
                {{'Export' | translate}}</button>
        </div>
        <div class="col-md-auto mt-3">
            <button class="btncancel" (click)="addpage()">
                <span class="material-symbols-outlined me-3">
                    add
                </span>
                {{'Add Merchant' | translate}}</button>
        </div>
        <div class="col-md-auto mt-3">
            <button class="btncancel">
                <span class="material-symbols-outlined me-3">
                    map
                </span>
                {{'View on Map' | translate}}</button>
        </div>
    </div>
    <div class="background p-3">
        <div class="row">
            <div class="col-md-4 mt-3">
                <div class="select-item">
                    <span>{{'Date range' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                </div>
                <input type="date" name="" id="" class="form-select mt-2">
            </div>
            <div class="col-md-4 mt-3">
                <div class="select-item">
                    <span>{{'Category' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                </div>
                <input type="date" name="" id="" class="form-select mt-2">
            </div>
            <div class="col-md-4 mt-3">
                <div class="select-item">
                    <span>{{'Card acceptance' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                </div>
                <select name="" id="" class="form-select mt-2">
                    <option value="">1</option>
                    <option value="">1</option>
                    <option value="">1</option>
                </select>
            </div>
            <div class="col-md-4 mt-3">
                <div class="select-item">
                    <span>{{'QR Payment' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                </div>
                <input type="date" name="" id="" class="form-select mt-2">
            </div>
            <div class="col-md-4 mt-3">
                <div class="select-item">
                    <span>{{'E-Wallet' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                </div>
                <input type="date" name="" id="" class="form-select mt-2">
            </div>
            <div class="col-md-4 mt-3">
                <div class="select-item">
                    <span>{{'Contactless acceptance' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                </div>
                <input type="date" name="" id="" class="form-select mt-2">
            </div>
        </div>
        <ng-container *ngIf="showmore">
            <div class="row">
                <div class="col-md-6 mt-3">
                    <div>
                        <input class="me-3" type="checkbox" name="" id=""> <span>
                            {{'Minimum spending (THB)' | translate}}
                            </span>
                    </div>
                    <mat-slider min="0" max="1000">
                        <input matSliderStartThumb>
                        <input matSliderEndThumb>
                    </mat-slider>
                </div>
                <div class="col-md-6 mt-3">
                    <div>
                        <input class="me-3" type="checkbox" name="" id=""> <span>
                            {{'Surcharge (THB)' | translate}}
                            
                            </span>
                    </div>
                    <mat-slider min="1" max="5" step="0.5" value="1.5">
                        <input matSliderStartThumb #itemHeight>
                        <input matSliderEndThumb>
                    </mat-slider>

                    <label> {{itemHeight.value}} </label>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-3">
                    <div class="select-item">
                        <span>{{'EDC Bank' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                    </div>
                    <input type="date" name="" id="" class="form-select mt-2">
                </div>
                <div class="col-md-4 mt-3">
                    <div class="select-item">
                        <span>{{'EDC Status' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                    </div>
                    <input type="date" name="" id="" class="form-select mt-2">
                </div>
                <div class="col-md-4 mt-3">
                    <div class="select-item">
                        <span>{{'EDC Place' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                    </div>
                    <select name="" id="" class="form-select mt-2">
                        <option value="">1</option>
                        <option value="">1</option>
                        <option value="">1</option>
                    </select>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="select-item">
                        <span>{{'Staff Performance' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                    </div>
                    <input type="date" name="" id="" class="form-select mt-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-5">
                    <div class="text-title">
                        <h1>
                            {{'Location' | translate}}
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-3">
                    <div class="select-item">
                        <span>{{'Location' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                    </div>
                    <input type="date" name="" id="" class="form-select mt-2">
                </div>
                <div class="col-md-4 mt-3">
                    <div class="select-item">
                        <span>{{'Street' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                    </div>
                    <input type="date" name="" id="" class="form-select mt-2">
                </div>
                <div class="col-md-4 mt-3">
                    <div class="select-item">
                        <span>{{'District' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                    </div>
                    <select name="" id="" class="form-select mt-2">
                        <option value="">1</option>
                        <option value="">1</option>
                        <option value="">1</option>
                    </select>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="select-item">
                        <span>{{'Province' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                    </div>
                    <input type="date" name="" id="" class="form-select mt-2">
                </div>
                <div class="col-md-4 mt-3">
                    <div class="select-item">
                        <span>{{'Zipcode' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                    </div>
                    <input type="date" name="" id="" class="form-select mt-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-5">
                    <div class="text-title">
                        <h1>
                            {{'POSM Deployment' | translate}}
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-3">
                    <div class="select-item">
                        <span>{{'Material' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                    </div>
                    <input type="date" name="" id="" class="form-select mt-2">
                </div>
                <div class="col-md-4 mt-3">
                    <div class="select-item">
                        <span>{{'Competitors Info' | translate}}</span> <span> <u>{{'Clear' | translate}}</u> </span>
                    </div>
                    <input type="date" name="" id="" class="form-select mt-2">
                </div>
            </div>
        </ng-container>
        <div class="row mt-5">
            <div *ngIf="!showmore" class="col-md-6 d-flex align-items-center hover">
                <span (click)="show()">{{'Expand more filter' | translate}}</span>
                <span class="material-symbols-outlined">
                    expand_more
                </span>
            </div>
            <div *ngIf="showmore" class="col-md-6 d-flex align-items-center hover">
                <span (click)="show()">{{'Show less' | translate}}</span>
                <span class="material-symbols-outlined">
                    expand_less
                </span>
            </div>
            <div class="col-md-6 mt-3 d-flex justify-content-end">
                <button class="btnsave me-3 d-flex align-items-center">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                    {{'Search' | translate}}</button>
                <button class="btncancel">
                    {{'Clear filter' | translate}}
                    </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <div class="text-title me-3">
                {{'Result' | translate}}
            </div>
            <span class="badge"> {{10000 | number}} </span>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <div class="input-group mb-3 w-50">
                <input type="text" class="form-control" placeholder="{{'Search' | translate}}" aria-label="Username"
                    aria-describedby="basic-addon1">
                <span id="basic-addon1" class="material-symbols-outlined input-group-text">
                    search
                </span>
            </div>
            <button class="btncancel ms-3" style="padding: 15px 15px !important;">
                <span class="material-symbols-outlined">
                    swap_vert
                </span>
            </button>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-1 mt-3 d-flex justify-content-end">
            <button class="delete">
                <span class="material-symbols-outlined">
                    delete
                </span>
                {{'Delete' | translate}}
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="w-100">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="" id="">
                        </th>
                        <th>{{'Data ID' | translate}}</th>
                        <th>{{'Merchant name' | translate}}</th>
                        <th>{{'Date rec.' | translate}}</th>
                        <th>{{'Category' | translate}}</th>
                        <th>{{'Location' | translate}}</th>
                        <th>{{'Country' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let i of data">
                        <tr>
                            <td>
                                <input type="checkbox" name="" id="">
                            </td>
                            <td>{{i.id}}</td>
                            <td>{{i.Merchant}}</td>
                            <td>{{i.Date}}</td>
                            <td>{{i.Category}}</td>
                            <td>{{i.Location}}</td>
                            <td>{{i.Country}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>