<div class="container-fluid">
    <div class="card" style="margin: auto;">
        <div class="card-title text-center">
           <h1>VTHG POS System</h1> 
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <p>Admin name</p>
                    <input type="text" class="form-control" placeholder="Fill your name">
                </div>
                <div class="col-md-12 mb-4">
                    <p>Password</p>
                    <input type="password" class="form-control" placeholder="Fill your Password">
                </div>
                <div class="col-md-12 mb-4">
                    <button class="btnsave" (click)="Login()">Login</button>
                </div>
                <div class="col-md-12 mb-3 text-center">
                    <a href="">Forgot password</a>
                </div>
            </div>
        </div>
    </div>
</div>