/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
.form-control {
    border: 1px solid #388087;
    border-radius: 30px;
}
.form-control:focus  {
    border: 1px solid #388087;
}

html,
body {
    height: 100vh
}

body {
    margin: 0;
    font-family: 'Athiti', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
